*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual1{
  height: 200px;
  background-image: url(img2/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual2{
  height: 200px;
  background-image: url(img2/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual3{
  height: 200px;
  background-image: url(img2/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual4{
  height: 200px;
  background-image: url(img2/box4.jpg);
  background-size: cover;
  background-position: center;
}